@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<h2>ViewData Numbers:</h2>
<ul>
    @if (ViewData["NumbersList"] != null)
    {
        foreach (var num in (List<int>)ViewData["NumbersList"])
        {
            <li>@num</li>
        }
    }
    else
    {
        <li>ViewData is lost after redirection!</li>
    }
</ul>

<h2>ViewBag Numbers:</h2>
<ul>
    @if (ViewBag.NumbersList != null)
    {
        foreach (var num in ViewBag.NumbersList)
        {
            <li>@num</li>
        }
    }
    else
    {
        <li>ViewBag is lost after redirection!</li>
    }
</ul>

<h2>TempData Numbers:</h2>
<ul>
    @if (TempData["NumbersList"] != null)
    {
        foreach (var num in (int[])TempData["NumbersList"]) // Note: Use int[] instead of List<int> because of redirect
        {
            <li>@num</li>
        }
    }
    else
    {
        <li>TempData is lost if read once!</li>
    }
</ul>