@model List<Category>

<div class="row">
    <div class="col-12">
        <ul class="nav nav-pills">
    @foreach (var category in Model)
    {
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="loadArticles(@category.Id)">@category.Name</a>
        </li>
    }
        </ul>
    </div>
</div>

<div id="articlesContainer" class="mt-4">
</div>

@section Scripts {
    <script>
        function loadArticles(categoryId) {
            $.get('/Reader/Home/ArticlesByCategory?categoryId=' + categoryId, function (data) {
                $('#articlesContainer').html(data);
            });
        }

        $(document).ready(function () {
            var firstCategoryId = @((Model.Any() ? Model.First().Id : 0));
            if (firstCategoryId !== 0) {
                loadArticles(firstCategoryId);
            }
        });
    </script>
}
