<h1> Categories </h1>


<h2>Basic Razor Syntax</h2>


<h3>Inline Expressions</h3>
<p>Current Date: @DateTime.Now</p>



<h3>Code Blocks</h3>
@{
	var message = "Hello, World!";
}
<p>@message</p>



<h3>Conditional Statements</h3>
@{
	var userRole = "Admin";
}
@if (userRole == "Admin")
{
	<p>Welcome, Admin!</p>
}
else
{
	<p>Welcome, Guest!</p>
}

<h3>Loops</h3>
@{
	var numbers = new List<int> { 1, 2, 3, 4, 5 };
}
<ul>
	@foreach (var number in numbers)
	{
		<li>@number</li>
	}
</ul>